name: Java CI with Checkstyle And JaCoCo

on:
 push:
  branches: 
   - masrer
   - 'featyre/**'
 pull_request:
  branches:
   - master
   
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
     - name: Checkout code
       uses: actions/checout@v4

     - name: Make gradlew executable
       run: chmod +x gradlew

     - name: Set up JDK 25 (Temurin)
       uses: actions/setup-java@4    
       with: 
        distribution: 'temurin'
        java-version: '25'
        cache: 'gradle'

     - name: Run Checkstyle
       run: ./gradlew --no-daemon test

     - name: Generate JaCoCo report
       run: ./gradlew --no-deamon jacocoTestReport

     - name: Verify code coverage
       run: ./gradlew --no-deamon jacocoTestCoverageVerification

     - name: Build project
       run: ./gradlew --no-deamon build
       
 

   
